html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


.message{
    width: 100%;
    height: 100%;
    display: flex;
}

.message .left{
    width: 100%;
    padding-bottom: 180px;
    overflow: scroll;
}

.message .left .header{
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgb(165, 165, 165);
}

.message .left .header button{
    padding: 20px 30px;
    font-size: 20px;
    border: transparent;
    display: flex;
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    text-transform: uppercase;

}

.message .left .header h2{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.message .left .center-content{
    border-radius: 10px;
    padding: 20px 0px;
}

.message .left .center-content .content{
    display: flex;
    justify-content: center;
}

.message .left .center-content .content .div{
    width: 40%;
}

.message .left .center-content .customer-para{
    text-align: justify;
    word-wrap: break-word;
    background-color: rgba(31, 238, 62, 0.744);
    width: 100%;
    padding: 6px 0px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.message .left .center-content .customer-para p{
    font-size: 20px;
    padding: 0px 8px;
    text-align: justify;
}

.message .left .textarea{
    position: fixed;
    bottom: 0px;
    background-color:rgb(255, 255, 255);
    width: 100%;
    padding: 10px 0px;
}

.message .left .textarea h2{
    margin-left: 10px;
}

.message .left .textarea .reply{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.message .left .textarea textarea{
    width: 50%;
    height: 20%;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    resize: none;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 15px;
}

.message .left .textarea textarea::-webkit-scrollbar {
    display: none;
}

.message .left .textarea button{
    border: 1px inset black;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    padding: 15px 10px;
    margin-top: 6px;
    border-radius: 3px;
}

.message .left .textarea button:hover{
    background-color: black;
    color: white;
    transition: all .3s;
    padding: 18px 23px;
}