<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invite Agent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/ad-inviteagent.css">
</head>
<body>

    <div id="overall">

        <div id="left">

            <div>
                <i class="fa-solid fa-paper-plane"></i>
                <h1>INVITE AGENT</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quo veniam at doloremque, nobis voluptas, ipsum omnis unde aliquam minus similique perspiciatis eaque nisi commodi fuga! Maxime dicta laboriosam quis. Lorem ipsum dolor sit amet.</p>
            </div>
            
        </div>

        <div id="right">

            <form action="/addinviteagents" method="post">
                <div>
                    <input type="text" name="name" id="name" placeholder="Name">
                </div>
                <div>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <button type="submit">Invite</button>
            </form>

        </div>


    </div>
    

</body>
</html>