{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<style>
    #dis_this {
        display: none;
    }
</style>

<link rel="stylesheet" href="static/css/adminprofile.css">


{% endblock %}

<!-- Body -->
{% block body %}

<div id="dis_this">
    logintype:<input type="text" placeholder="LoginOrNot" id="logintype" value="{{ logintype }}">
    loginemail:<input type="text" placeholder="LoginEmail" id="loginemail" value="{{ loginemail }}">
</div>

<div class="boxoutside">
    <div class="boxinside">
        <div class="left">
            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>
            {% for i in list %}
            <div class="title">
                <h2>Admin Profile</h2>
                <hr>
            </div>
            <div class="content">
                <div class="content-1">
                    <h3>Name</h3>
                    <p>{{i[0]}}</p>
                </div>
                <hr>
                <div class="content-2">
                    <h3>Email ID</h3>
                    <p>{{i[1]}}</p>
                </div>
                <hr>
                <div class="content-3">
                    <h3>Employee count</h3>
                    <p>{{i[3]}}</p>
                </div>
                <hr>
                <div class="content-3">
                    <h3>Organization Name</h3>
                    <p>{{i[2]}}</p>
                </div>


                <div id="btn">
                    <a href="/forgetadminemail"><button>change password</button></a>
                </div>



            </div>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    var logintype = document.getElementById('logintype').value;
    var loginemail = document.getElementById('loginemail').value;


    var dash_user_anchor = document.getElementById('dash_user_anchor');
    var dash_admin_anchor = document.getElementById('dash_admin_anchor');
    var dash_agent_anchor = document.getElementById('dash_agent_anchor');
    var login_anchor = document.getElementById('login_anchor');
    var signup_anchor = document.getElementById('signup_anchor');
    var profile_user_anchor = document.getElementById('profile_user_anchor');
    var profile_admin_anchor = document.getElementById('profile_admin_anchor');
    var profile_agent_anchor = document.getElementById('profile_agent_anchor');
    var logout_anchor = document.getElementById('logout_anchor');

    if (logintype == "admin") {
        dash_user_anchor.style.display = "none";
        dash_agent_anchor.style.display = "none";
        login_anchor.style.display = "none";
        signup_anchor.style.display = "none";
        profile_user_anchor.style.display = "none";
        profile_agent_anchor.style.display = "none";
    }
    else {
        location.replace("/");
    }

</script>

{% endblock %}
