{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<!-- Page style -->
<link rel="stylesheet" href="static/css/login_user.css">
<style>
    #dash_admin_anchor,#dash_user_anchor,#dash_agent_anchor,#profile_user_anchor,#profile_admin_anchor,#profile_agent_anchor,#logout_anchor{
        display: none;
    }
    #dis_this{
        display: none;
    }
</style>
{% endblock %}


<!-- Body -->
{% block body %}

<div id="dis_this">
    logintype:<input type="text" placeholder="LoginOrNot" id="logintype" value="{{ logintype }}">
</div>

<h4 style="text-align: center; color:white; margin: 0px; padding: 0px;">{{ msg }}</h4>

<section id="login">
    <div class="left">
        <div class="limage">
            <img src="static/raw/login.jpg" alt="login user">
        </div>
    </div>

    <div class="right">
        <div class="rightdiv">
            <h1>ADMIN LOGIN</h1>
            <form action="/addloginadmin" method="post" onsubmit="return true">
                <div>
                    <input type="email" id="login_admin_email" name="login_admin_email" value="{{ admin_email }}" placeholder="Enter Email" required>
                </div>
                <div>
                    <input type="password" id="login_admin_password" name="login_admin_password" placeholder="Enter Password" required>
                </div>
                <div class="check_box">
                    <input type="checkbox" id="showpass" onclick="show_pass()"
                        style="width: 20px; height: 20px; margin-bottom: 20px;">
                    <label for="showpass">Show Password </label>
                    <a href="/forgetadminemail">Forget Password?</a>
                </div>
                <div>
                    <button id="login_submit_button" type="submit"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</button>
                </div>

                <div>
                    <h4 style="text-align: center;">Don't have an account? <a href="/signupadmin">Create Now</a> </h4>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    var pass = document.getElementById('login_admin_password');
    function show_pass(){
        if(pass.type=="password"){
            pass.type="text";
        }
        else{
            pass.type="password";
        }
    }
</script>

<script>
    var logintype = document.getElementById('logintype').value;

    if(logintype=="admin" || logintype=="user" || logintype=="agent"){
        location.replace("/");
    }

</script>



{% endblock %}