{% extends 'base.html' %}

<!-- Head -->
{% block head %}


<style>
    #center_it {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
    }
    #center_it div{
        width: 100%;
    }
    #center_it div button{
        cursor: pointer;
        padding: 5px 10px;
        background-color: green;
        border: none;
        border-radius: 5px;
        color: white;
    }
    #logout_anchor a{
        color: blue;
    }
</style>

{% endblock %}



<!-- Body -->
{% block body %}

<div id="dis_this">
    logintype:<input type="text" placeholder="LoginOrNot" id="logintype" value="{{ logintype }}">
    loginemail:<input type="text" placeholder="LoginEmail" id="loginemail" value="{{ loginemail }}">
</div>


<div id="center_it">

    <div>
        <p id="you_login"></p>

        <form action="/logoutdata">
            <button type="submit" id="btn_logout">LOGOUT</button>
        </form>
        
    </div>

</div>


<script>
    var logintype = document.getElementById('logintype').value;
    var loginemail = document.getElementById('loginemail').value;

    document.getElementById('you_login').innerHTML = "You'r logged in "+logintype;


    var dash_user_anchor = document.getElementById('dash_user_anchor');
    var dash_admin_anchor = document.getElementById('dash_admin_anchor');
    var dash_agent_anchor = document.getElementById('dash_agent_anchor');
    var login_anchor = document.getElementById('login_anchor');
    var signup_anchor = document.getElementById('signup_anchor');
    var profile_user_anchor = document.getElementById('profile_user_anchor');
    var profile_admin_anchor = document.getElementById('profile_admin_anchor');
    var profile_agent_anchor = document.getElementById('profile_agent_anchor');
    var logout_anchor = document.getElementById('logout_anchor');

    if(logintype=="user"){
        dash_admin_anchor.style.display = "none";
        dash_agent_anchor.style.display = "none";
        login_anchor.style.display = "none";
        signup_anchor.style.display = "none";
        profile_admin_anchor.style.display = "none";
        profile_agent_anchor.style.display = "none";
    }else if(logintype=="admin"){
        dash_user_anchor.style.display = "none";
        dash_agent_anchor.style.display = "none";
        login_anchor.style.display = "none";
        signup_anchor.style.display = "none";
        profile_user_anchor.style.display = "none";
        profile_agent_anchor.style.display = "none";
    }else if(logintype=="agent"){
        dash_user_anchor.style.display = "none";
        dash_admin_anchor.style.display = "none";
        login_anchor.style.display = "none";
        signup_anchor.style.display = "none";
        profile_admin_anchor.style.display = "none";
        profile_user_anchor.style.display = "none";
    }
    else {
        location.replace("/")
    }


    document.getElementById('btn_logout').addEventListener("click",()=>{
        setTimeout(()=>{
            document.getElementById('btn_logout').disabled = true;
        },1000);
    });



</script>

<style>
    #dis_this{
        display: none;
    }
</style>

{% endblock %}