{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<!-- Page style -->
<link rel="stylesheet" href="static/css/user_otp_verify.css">

<style>
    #none_this{
        display: none;
    }

    #dash_admin_anchor,#dash_user_anchor,#dash_agent_anchor,#profile_user_anchor,#profile_admin_anchor,#profile_agent_anchor,#logout_anchor{
        display: none;
    }
</style>

{% endblock %}


<!-- Body -->
{% block body %}

<h4 style="text-align: center; color:white; margin: 0px; padding: 0px;">{{ otpmsg }}</h4>

<section id="otp">
    <div class="right">
        <div class="rightdiv">

            <div class="lottie">
                <lottie-player src="static/lottie/emailverify.json" background="transparent" speed="1"
                    style="width: 150px; height: 150px;" loop autoplay>
                </lottie-player>
            </div>

            <h1><i class="fa-solid fa-key" style="font-size: 20px;"></i> &nbsp; Verify OTP ( USER )</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, laborum? Lorem ipsum dolor sit amet.</p>

            <form action="/userverify" method="post" onsubmit="return true">
                <div>
                    <input type="text" id="user_entered_otp" name="user_entered_otp" placeholder="Enter OTP Here">
                </div>
                <div>
                    <button id="user_otp_verify_button"><i class="fa-solid fa-fingerprint"></i> Verify</button>
                </div>
            </form>

            <!--Disable this form-->
            <form action="/addsignupuser" method="post">
                <div>
                    <button id="user_otp_verify_button" type="submit"><i class="fa-solid fa-repeat"></i> Resend OTP</button>
                </div>
                <div id="none_this">
                    <input type="text" id="signup_user_username" name="signup_user_username" value="{{ user_fullname }}"
                        placeholder="Full Name">

                    <input type="text" id="signup_user_email" name="signup_user_email" value="{{ user_email }}"
                        placeholder="Enter Email">

                    <input type="text" id="signup_user_phone_number" name="signup_user_phone_number"
                        value="{{ user_phonenumber }}" placeholder="Enter Phone Number">

                    <input type="text" id="signup_user_password" name="signup_user_password" value="{{ user_password }}"
                        placeholder="Enter Password">
                </div>
            </form>
        </div>
    </div>

</section>





{% endblock %}