{% extends 'base.html' %}

<!-- Head -->
{% block head %}

<link rel="stylesheet" href="static/css/signup_user.css">


<style>
    #dash_admin_anchor,#dash_user_anchor,#dash_agent_anchor,#profile_user_anchor,#profile_admin_anchor,#profile_agent_anchor,#logout_anchor{
        display: none;
    }
    #dis_this{
        display: none;
    }
</style>

{% endblock %}


<!-- Body -->
{% block body %}

<div id="dis_this">
    logintype:<input type="text" placeholder="LoginOrNot" id="logintype" value="{{ logintype }}">
</div>

<h4 style="text-align: center; color:white; margin: 0px; padding: 0px;">{{ msg }}</h4>


<section id="signup">

    <div class="left">
            <div class="limage">
                <img src="static/raw/signup.jpg" alt="login user">
            </div>
    </div>

    <div class="right">
        <div class="rightdiv">
            <h2>USER SIGNUP</h2>
            <form action="/addsignupuser" method="post" onsubmit="return validate()">
                <div>
                    <input type="text" id="signup_user_username" name="signup_user_username" placeholder="Full Name" required>
                </div>
                <div>
                    <input type="email" id="signup_user_email" name="signup_user_email" placeholder="Enter Email" required>
                </div>
                <div>
                    <input type="number" id="signup_user_phone_number" name="signup_user_phone_number" placeholder="Enter Phone Number" required>
                </div>
                <div>
                    <input type="password" id="signup_user_password" name="signup_user_password" placeholder="Enter Password" required>
                </div>
                <div>
                    <input type="password" id="signup_user_re_password" name="signup_user_re_password" placeholder="Retype Password" required>
                </div>
                <div class="check_box">
                    <input type="checkbox" id="showpass" onclick="show_pass()" style="width: 20px; height: 20px; display: inline-block;">
                    <label for="showpass" style="margin-left: 8px;">Show Password </label>
                </div>
                <div>
                    <button id="signup_button" type="submit"><i class="fa-solid fa-user-plus"></i> SIGNUP</button>
                </div>
            </form>
        </div>
    </div>

</section>


<script>
    var pass = document.getElementById('signup_user_password');
    var repass = document.getElementById('signup_user_re_password');
    function show_pass(){
        if(pass.type=="password"){
            pass.type="text";
            repass.type="text";
        }
        else{
            pass.type="password";
            repass.type="password"; 
        }
    }


    function validate(){
        if(pass.value==repass.value){
            document.getElementById('signup_button').disabled = true;
            return true;
        }

        alert("Password shoul be same");
        return false;
    }

</script>

<script>
    var logintype = document.getElementById('logintype').value;

    if(logintype=="admin" || logintype=="user" || logintype=="agent"){
        location.replace("/");
    }

</script>



{% endblock %}